extends layout

block content
  h1= title
  br

  form.well(action="/searchTweets", method="post")
    .row
      .col-xs-1
        label Keyword:  
      .col-xs-11
        input(name="tweet[keyword]", type="textbox")
    br
    button.btn(type="submit") Search

  form(action="/addFavorites", method="post")
    table.table.table-striped.table-bordered
      tr
        td Name
        td Handle
        td Tweet
        td Tweets to Favorite
      if (typeof tweets === "undefined")
        tr
          td 
          td 
          td 
          td 
      else
        each tweet in tweets
          tr
            td #{tweet.user.name}
            td #{tweet.user.screen_name}
            td #{tweet.text}
            td
              input(type="checkbox", name="#{tweet.id_str}", value="#{tweet.id_str}")
    button.btn(type="submit") Favorite
