extends layout

block content
  h1= title
  br
  h4
    | Local set of tweets that you can choose from to tweet on 
    a(href='https://twitter.com/dbacksbot',target='_new') DbackBot
    |  (Reminder: Duplicate tweets cannot be tweeted if same tweet was recently tweeted)
  br
  form(action="/posttweet", method="post")
    table.table.table-striped.table-bordered
      tr
        td Tweet
        td Number of Times Tweeted
        td Date Modified
        td Selected Tweet
      if (typeof tweets === "undefined")
        tr
          td 
      else
        each tweet in tweets
          tr
            td #{tweet.tweet._}
            td #{tweet.count._}
            - var day   = tweet.Timestamp._.getDate();
            - var month = tweet.Timestamp._.getMonth() + 1;
            - var year  = tweet.Timestamp._.getFullYear();
            td #{month + "/" + day + "/" + year}
            td
              input(type="checkbox", name="#{tweet.RowKey._}", value="#{tweet.tweet._}")
    button.btn(type="submit") Tweet
  hr
  form.well(action="/addtweet", method="post")
    .row
      .col-xs-2
        label Tweet:  
      .col-xs-10
        input(name="item[tweet]", type="textbox").tweet-input
    br
    button.btn(type="submit") Add tweet